<div value="sTerm">
    <div value="dropdownValue">

        <input [(ngModel)]="sTerm" placeholder={{dropdownValue}} type="text" />
        <button mat-button [matMenuTriggerFor]='menu'>
            {{dropdownValue}}
        </button>
        <mat-menu #menu='matMenu'>
            <button value='People' mat-menu-item (click)='setDropdownValue("people")'>People</button>
            <button value='Starships' mat-menu-item (click)='setDropdownValue("starships")'>Starships</button>
            <button value='Films' mat-menu-item (click)='setDropdownValue("films")'>Films</button>
        </mat-menu>
        <br />
        <button mat-button (click)="fetchInfo()">Search</button>
    </div>
</div>
<hr />

